In [5]:
import pandas as pd

In [6]:
# Import data from csv file
df=pd.read_csv('SMHI_Dataset\SMHI_Data.csv')
df.head()

        Datum Tid (UTC)  Lufttemperatur
0  2010-03-01  00:00:00             2.0
1  2010-03-01  01:00:00             NaN
2  2010-03-01  02:00:00             2.2
3  2010-03-01  03:00:00             1.7
4  2010-03-01  04:00:00             1.7