# Exercise 3

All the imports we are going to need:

In [43]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

1. Analyze the Manhattan rolling sales dataset. Where in Manhattan is the most/least expensive real estate located? What is the relationship between the sales price and gross square feet?

We start by loading in the Manhattan rolling sales dataset.

In [44]:
df=pd.read_excel(r'Datasets\rollingsales_manhattan.xls', skiprows=4)
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,376,24,,C0,264 EAST 7TH STREET,,...,3,0,3,2059,3696,1900,1,C0,7738700,2016-12-22
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,375,28,,C4,738 EAST 6TH STREET,,...,11,0,11,1750,6500,1900,2,C4,3750000,2017-04-03
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,0,2016-12-14
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,0,2016-12-09
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,6300000,2016-08-04

Most expensive real estate location in Manhattan:

In [47]:
mostExpensive = df.sort_values(by='SALE PRICE', ascending=False)
mostExpensive.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
12339,1,TRIBECA,21 OFFICE BUILDINGS,4,216,1,,O9,390 GREENWICH STREET,,...,0,4,4,172327,2354290,1989,4,O4,1767913114,2016-06-10
7418,1,MIDTOWN CBD,21 OFFICE BUILDINGS,4,1291,10,,O4,550 MADISON AVENUE,,...,0,8,8,36803,827686,1983,4,O4,1400000000,2016-05-26
9690,1,MIDTOWN WEST,21 OFFICE BUILDINGS,4,1004,29,,O4,1285 AVENUE OF THE AMER,,...,0,77,77,80333,1613847,1961,4,O4,1279624000,2016-05-20